* {
  margin: 0;

  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.btn {
  border: solid 2px #312424;
  background-color: #534B4B;
  color: #FBF2F2;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #cecdcd;
  color: #000000;
}

.inputer {
 
  border: solid 2px #ccc;
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s #504a4a;
  outline: none;
  transition: border-color 0.3s;
  
}

.inputer:focus {
   border-color:#312424 ;
   transform:perspective(1px) scale(1.02);
}
